<!doctype html>
<html lang="en">
    <%- include('partials/builder-parts/head.html'); %>
    <body>
        <div class="container-fluid">
            <div id="main-content" class="jumbotron jumbotron-fluid">
                <h1 class="display-3 ">404</h1>
                <img src="/images/psyduck.gif" alt="It's a Psyduck"></img>
                <p class="lead">We couldn't find the room you are looking for. Create a new room below to get started! Inactive rooms are periodically deleted.</p>
                <hr class="my-2"></hr>
                <a href="/create" id="create-room" class="btn btn-primary btn-lg">Create a new room!</a>
                <a href="/create" id="create-room" class="btn btn-primary btn-lg">Return to the homepage!</a>
            </div>
        </div>
    </body>
</html>