<!doctype html>
<html lang="en">
    <%- include('partials/builder-parts/head.html'); %>
    <div class="container-fluid">
        <div id="main-content" class="jumbotron jumbotron-fluid">
            <h1 class="display-3 ">404</h1>
            <img src="/images/psyduck.gif" alt="It's a Psyduck"></img>
            <p class="lead">Something went wrong! Rest assured, we are working on it. (and probably panicking).</p>
            <hr class="my-2"></hr>
            <a href="/create" id="create-room" class="btn btn-primary btn-lg">Return to the homepage!</a>
        </div>
    </div>
</html>