<!-- move-select.html start -->
<div id="mon-1-moves" class="tab-item">
    <label>Moves</label>
    <input id="move-input-1" type="text" class="form-control move" autocomplete="off" data-provide="typeahead"/>
    <input id="move-input-2" type="text" class="form-control move" autocomplete="off" data-provide="typeahead"/>
    <input id="move-input-3" type="text" class="form-control move" autocomplete="off" data-provide="typeahead"/>
    <input id="move-input-4" type="text" class="form-control move" autocomplete="off" data-provide="typeahead"/>
</div>
<!-- move-select.html end -->
