<!-- pokebasics-controls.html start -->
<div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
    <label for="pokemon-input" class="inline-label">Pok&eacute;mon</label>
    <input id="pokemon-input" type="text" class="form-control pokemon" autocomplete="off" data-provide="typeahead"/>
    <label for="ability-input" class="inline-label">Ability</label>
    <input id="ability-input" type="text" class="form-control ability" autocomplete="off" data-provide="typeahead"/>
</div>
<!-- pokebasics-controls.html start -->
