<!-- pokeinfo-controls.html start -->
<div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <label for="level-input" class="inline-label">Level</label>
            <input id="level-input" type="number" value="100" class="form-control level detail-form" autocomplete="off" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <label for="happy-input" class="inline-label">Happiness</label>
            <input id="happy-input" type="number" value="255" class="form-control level detail-form" autocomplete="off" />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <label for="level-input" class="">Shiny</label>
            <input id="shiny-input" type="checkbox" class="shiny">
        </div>
    </div>
	<label for="item-input" class="inline-label">Item</label>
	<input id="item-input" type="text" class="form-control item" autocomplete="off" data-provide="typeahead"/>
</div>
<!-- pokeinfo-controls.html end -->
