<!doctype html>
<html>
<head>
    <title>Pok&eacute;pad NOT FOUND</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/pokepad/css/home.css" />
    <link rel="icon" href="/pokepad/images/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div class="container-fluid">
        <div id="main-content" class="jumbotron jumbotron-fluid">
            <h1 class="display-3 ">404</h1>
            <img src="/pokepad/images/psyduck.gif" alt="It's a Psyduck"></img>
            <p class="lead">We couldn't find the room you are looking for. Create a new room below to get started! Inactive rooms are periodically deleted.</p>
            <hr class="my-2"></hr>
            <a href="../create" id="create-room" class="btn btn-primary btn-lg">Start Building!</a>
        </div>
    </div>
</body>
</html>
