<!doctype html>
<html>
<head>
    <title>Pok&eacute;pad</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
</head>

<body>
    <div class="container-fluid">
        <div id="main-content" class="jumbotron jumbotron-fluid">
            <h1 class="display-3">
         <img src="/images/pokeball.png" alt="An image of a pokeball" height="80" width="80">
         Pok&eacute;pad
         <img src="/images/pokeball.png" alt="An image of a pokeball" height="80" width="80">
        </h1>
            <p class="lead">A collaborative teambuilder featuring a chat and easy access to smogdex sets. Create below and share the link to start building with friends!</p>
            <hr class="my-2"></hr>
            <a href="./create" id="create-room" class="btn btn-primary btn-lg">Start Building!</a>
        </div>
    </div>
</body>
</html>
