<!doctype html>
<html>
<head>
    <title>Pok&eacute;pad</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div class="se-pre-con"></div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="/images/pokeball.png" id="logo" alt="An image of a pokeball" height="50" width="50">
                <a class="navbar-brand" href="/">Pok&eacute;pad</a>
            </div>
            <div id="nav-left-items">
                 <button type="button" id="export-btn" class="btn btn-sm" data-toggle="export-modal" data-target="#export">Export Team</button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav" id="nav-line">
                    <li><a href="https://pokemonshowdown.com/damagecalc/" target=_blank>Damage Calculator</a></li>
                    <li><a href="http://www.smogon.com/dex/" target=_blank>Smogon Dex</a></li>
                    <li><a href="#" target=_blank>Info</a></li>
                    <li><a href="https://github.com/Nineage/Pokepad" target=_blank>Github</a></li>
                    <li><a href="#" target=_blank>Credits</a></li>
                    <li><a href="https://gonefroggin.com/" target=_blank>Frog Blog</a></li>
                </ul>
            </div>
            <div>
                <!--Modals go here-->
                <div id="export" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Export Team</h4>
                            </div>
                            <div class="modal-body">
                                <textarea id="export-box-area" readonly rows="15" cols="30"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pickName" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Choose a Name</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-inline name">
                                    <input type="text" id="n" class="form-control" />
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="row" id="upper-row">
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div id="panel-heading-1" class="panel-heading">
                                <h3 id="panel-title-1" class="panel-title"></h3>
                                <img src="/images/blank.png" id="panel-image-1" class="panel-image art" alt="Image of the currently selected pokemon" height="70" width="90">
                                <ul class="nav nav-tabs">
                                    <li id="toggle-general-1-li" class="active toggle-panel-item"><a href="#" id="toggle-general-1" class="panel-tab-item">General</a></li>
                                    <li id="toggle-moves-1-li" class="toggle-panel-item"><a href="#" id="toggle-moves-1" class="panel-tab-item">Moves</a></li>
                                    <li id="toggle-evs-1-li" class="toggle-panel-item"><a href="#" id="toggle-evs-1" class="panel-tab-item">EVs/IVs</a></li>
                                    <li id="toggle-import-1-li" class="toggle-panel-item"><a href="#" id="toggle-import-1" class="panel-tab-item">Import</a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div id="mon-1-general" class="tab-item">
                                        <label for="pokemon-input-1" class="inline-label">Pok&eacute;mon</label>
                                        <input id="pokemon-input-1" type="text" class="form-control pokemon" autocomplete="off" data-provide="typeahead" disabled />
                                        <div class="shiny-space">
                                            <label for="level-input-1" class="inline-label">Level</label>
                                            <input id="level-input-1" type="text" class="form-control level" autocomplete="off" disabled />
                                            <span class="shiny-button-area">
                                            <label for="shiny-input-1" >Shiny</label>
                                            <input id="shiny-input-1" type="checkbox" class="shiny" disabled>
                                        </span>
                                        </div>
                                        <label for="item-input-1" class="inline-label">Item</label>
                                        <input id="item-input-1" type="text" class="form-control item" autocomplete="off" data-provide="typeahead" disabled />
                                        <label for="ability-input-1" class="inline-label">Ability</label>
                                        <input id="ability-input-1" type="text" class="form-control ability" autocomplete="off" data-provide="typeahead" disabled />
                                        <div class="dropdown open">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="moveset-toggle-1">Movesets</button>
                                            <div class="hidden-button smogset-menu" id="moveset-input-1" aria-labelledby="moveset-toggle-1">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- EVs, IVs, Nature, etc. go here -->
                                    <div id="mon-1-moves" class="tab-item hidden-button">
                                        <label for="move-input-1-1">Moves</label>
                                        <input id="move-input-1-1" type="text" class="form-control move" autocomplete="off" data-provide="typeahead" disabled />
                                        <input id="move-input-1-2" type="text" class="form-control move" autocomplete="off" data-provide="typeahead" disabled />
                                        <input id="move-input-1-3" type="text" class="form-control move" autocomplete="off" data-provide="typeahead" disabled />
                                        <input id="move-input-1-4" type="text" class="form-control move" autocomplete="off" data-provide="typeahead" disabled />
                                    </div>
                                    <div id="mon-1-evs" class="container-fluid ev-main-menu tab-item hidden-button">
                                        <div class="col-md-9">
                                            <p style="font-weight: bold">EVs</p>
                                            <label for="hp-input-1" class="inline-label">HP</label>
                                            <input id="hp-input-1" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="atk-input-1" class="inline-label">Attack</label>
                                            <input id="atk-input-1" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="def-input-1" class="inline-label">Defense</label>
                                            <input id="def-input-1" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="spa-input-1" class="inline-label">Sp. Atk.</label>
                                            <input id="spa-input-1" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="spd-input-1" class="inline-label">Sp. Def.</label>
                                            <input id="spd-input-1" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="spe-input-1" class="inline-label">Speed</label>
                                            <input id="spe-input-1" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="nature-input-1" class="inline-label">Nature</label>
                                            <input id="nature-input-1" type="text" class="form-control nature" autocomplete="off" disabled />
                                        </div>
                                        <div class="col-md-3">
                                            <label>IVs</label>
                                            <input id="hp-iv-input-1" type="text" class="form-control iv top-iv" autocomplete="off" disabled />
                                            <input id="atk-iv-input-1" type="text" class="form-control iv" autocomplete="off" disabled />
                                            <input id="def-iv-input-1" type="text" class="form-control iv" autocomplete="off" disabled />
                                            <input id="spa-iv-input-1" type="text" class="form-control iv" autocomplete="off" disabled />
                                            <input id="spd-iv-input-1" type="text" class="form-control iv" autocomplete="off" disabled />
                                            <input id="spe-iv-input-1" type="text" class="form-control iv" autocomplete="off" disabled />
                                        </div>
                                    </div>
                                    <div id="mon-1-import" class="container-fluid import-main-menu tab-item hidden-button">
                                        <form>
                                            <textarea id="import-area-1" rows="10" cols="26"></textarea>
                                            <button type="button" id="import-btn-1" class="btn btn-sm import" disabled>Import!</button>
                                        </form>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div id="panel-heading-2" class="panel-heading">
                                <h3 id="panel-title-2" class="panel-title"></h3>
                                <img src="/images/blank.png" id="panel-image-2" class="panel-image art" alt="Image of the currently selected pokemon" height="70" width="90">
                                <ul class="nav nav-tabs">
                                    <li id="toggle-general-2-li" class="toggle-panel-active toggle-panel-item active"><a href="#" id="toggle-general-2" class="panel-tab-item">General</a></li>
                                    <li id="toggle-moves-2-li" class="toggle-panel-item"><a href="#" id="toggle-moves-2" class="panel-tab-item">Moves</a></li>
                                    <li id="toggle-evs-2-li" class="toggle-panel-item"><a href="#" id="toggle-evs-2" class="panel-tab-item">EVs/IVs</a></li>
                                    <li id="toggle-import-2-li" class="toggle-panel-item"><a href="#" id="toggle-import-2" class="panel-tab-item">Import</a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div id="mon-2-general" class="tab-item">
                                        <label for="pokemon-input-2" class="inline-label">Pok&eacute;mon</label>
                                        <input id="pokemon-input-2" type="text" class="form-control pokemon" autocomplete="off" data-provide="typeahead" disabled />
                                        <div class="shiny-space">
                                            <label for="level-input-2" class="inline-label">Level</label>
                                            <input id="level-input-2" type="text" class="form-control level" autocomplete="off" disabled />
                                            <span class="shiny-button-area">
                                            <label for="shiny-input-2" >Shiny</label>
                                            <input id="shiny-input-2" type="checkbox" class="shiny" disabled>
                                        </span>
                                        </div>
                                        <label for="item-input-2" class="inline-label">Item</label>
                                        <input id="item-input-2" type="text" class="form-control item" autocomplete="off" data-provide="typeahead" disabled />
                                        <label for="ability-input-2" class="inline-label">Ability</label>
                                        <input id="ability-input-2" type="text" class="form-control ability" autocomplete="off" data-provide="typeahead" disabled />
                                        <div class="dropdown open">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="moveset-toggle-2">Movesets</button>
                                            <div class="hidden-button smogset-menu" id="moveset-input-2" aria-labelledby="dropdownMenuButton">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- EVs, IVs, Nature, etc. go here -->
                                    <div id="mon-2-moves" class="tab-item hidden-button">
                                        <label for="move-input-2-1">Moves</label>
                                        <input id="move-input-2-1" type="text" class="form-control move" autocomplete="off" data-provide="typeahead" disabled />
                                        <input id="move-input-2-2" type="text" class="form-control move" autocomplete="off" data-provide="typeahead" disabled />
                                        <input id="move-input-2-3" type="text" class="form-control move" autocomplete="off" data-provide="typeahead" disabled />
                                        <input id="move-input-2-4" type="text" class="form-control move" autocomplete="off" data-provide="typeahead" disabled />
                                    </div>
                                    <div id="mon-2-evs" class="container-fluid ev-main-menu tab-item hidden-button">
                                        <div class="col-md-9">
                                            <p style="font-weight: bold">EVs</p>
                                            <label for="hp-input-2" class="inline-label">HP</label>
                                            <input id="hp-input-2" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="atk-input-2" class="inline-label">Attack</label>
                                            <input id="atk-input-2" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="def-input-2" class="inline-label">Defense</label>
                                            <input id="def-input-2" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="spa-input-2" class="inline-label">Sp. Atk.</label>
                                            <input id="spa-input-2" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="spd-input-2" class="inline-label">Sp. Def.</label>
                                            <input id="spd-input-2" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="spe-input-2" class="inline-label">Speed</label>
                                            <input id="spe-input-2" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="nature-input-2" class="inline-label">Nature</label>
                                            <input id="nature-input-2" type="text" class="form-control nature" autocomplete="off" disabled />
                                        </div>
                                        <div class="col-md-3">
                                            <label>IVs</label>
                                            <input id="hp-iv-input-2" type="text" class="form-control iv top-iv" autocomplete="off" disabled />
                                            <input id="atk-iv-input-2" type="text" class="form-control iv" autocomplete="off" disabled />
                                            <input id="def-iv-input-2" type="text" class="form-control iv" autocomplete="off" disabled />
                                            <input id="spa-iv-input-2" type="text" class="form-control iv" autocomplete="off" disabled />
                                            <input id="spd-iv-input-2" type="text" class="form-control iv" autocomplete="off" disabled />
                                            <input id="spe-iv-input-2" type="text" class="form-control iv" autocomplete="off" disabled />
                                        </div>
                                    </div>
                                    <div id="mon-2-import" class="container-fluid import-main-menu tab-item hidden-button">
                                        <form>
                                            <textarea id="import-area-2" rows="10" cols="26"></textarea>
                                            <button type="button" id="import-btn-2" class="btn btn-sm import" disabled>Import!</button>
                                        </form>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div id="panel-heading-3" class="panel-heading">
                                <h3 id="panel-title-3" class="panel-title"></h3>
                                <img src="/images/blank.png" id="panel-image-3" class="panel-image art" alt="Image of the currently selected pokemon" height="70" width="90">
                                <ul class="nav nav-tabs">
                                    <li id="toggle-general-3-li" class="toggle-panel-item active"><a href="#" id="toggle-general-3" class="panel-tab-item">General</a></li>
                                    <li id="toggle-moves-3-li" class="toggle-panel-item"><a href="#" id="toggle-moves-3" class="panel-tab-item">Moves</a></li>
                                    <li id="toggle-evs-3-li" class="toggle-panel-item"><a href="#" id="toggle-evs-3" class="panel-tab-item">EVs/IVs</a></li>
                                    <li id="toggle-import-3-li" class="toggle-panel-item"><a href="#" id="toggle-import-3" class="panel-tab-item">Import</a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div id="mon-3-general" class="tab-item">
                                        <label for="pokemon-input-3" class="inline-label">Pok&eacute;mon</label>
                                        <input id="pokemon-input-3" type="text" class="form-control pokemon" autocomplete="off" data-provide="typeahead" disabled />
                                        <div class="shiny-space">
                                            <label for="level-input-3" class="inline-label">Level</label>
                                            <input id="level-input-3" type="text" class="form-control level" autocomplete="off" disabled />
                                            <span class="shiny-button-area">
                                            <label for="shiny-input-3" >Shiny</label>
                                            <input id="shiny-input-3" type="checkbox" class="shiny" disabled>
                                        </span>
                                        </div>
                                        <label for="item-input-3" class="inline-label">Item</label>
                                        <input id="item-input-3" type="text" class="form-control item" autocomplete="off" data-provide="typeahead" disabled />
                                        <label for="ability-input-3" class="inline-label">Ability</label>
                                        <input id="ability-input-3" type="text" class="form-control ability" autocomplete="off" data-provide="typeahead" disabled />
                                        <div class="dropdown open">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="moveset-toggle-3">Movesets</button>
                                            <div class="hidden-button smogset-menu" id="moveset-input-3" aria-labelledby="dropdownMenuButton">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- EVs, IVs, Nature, etc. go here -->
                                    <div id="mon-3-moves" class="tab-item hidden-button">
                                        <label for="move-input-3-1">Moves</label>
                                        <input id="move-input-3-1" type="text" class="form-control move" autocomplete="off" data-provide="typeahead" disabled />
                                        <input id="move-input-3-2" type="text" class="form-control move" autocomplete="off" data-provide="typeahead" disabled />
                                        <input id="move-input-3-3" type="text" class="form-control move" autocomplete="off" data-provide="typeahead" disabled />
                                        <input id="move-input-3-4" type="text" class="form-control move" autocomplete="off" data-provide="typeahead" disabled />
                                    </div>
                                    <div id="mon-3-evs" class="container-fluid ev-main-menu tab-item hidden-button">
                                        <div class="col-md-9">
                                            <p style="font-weight: bold">EVs</p>
                                            <label for="hp-input-3" class="inline-label">HP</label>
                                            <input id="hp-input-3" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="atk-input-3" class="inline-label">Attack</label>
                                            <input id="atk-input-3" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="def-input-3" class="inline-label">Defense</label>
                                            <input id="def-input-3" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="spa-input-3" class="inline-label">Sp. Atk.</label>
                                            <input id="spa-input-3" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="spd-input-3" class="inline-label">Sp. Def.</label>
                                            <input id="spd-input-3" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="spe-input-3" class="inline-label">Speed</label>
                                            <input id="spe-input-3" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="nature-input-3" class="inline-label">Nature</label>
                                            <input id="nature-input-3" type="text" class="form-control nature" autocomplete="off" disabled />
                                        </div>
                                        <div class="col-md-3">
                                            <label>IVs</label>
                                            <input id="hp-iv-input-3" type="text" class="form-control iv top-iv" autocomplete="off" disabled />
                                            <input id="atk-iv-input-3" type="text" class="form-control iv" autocomplete="off" disabled />
                                            <input id="def-iv-input-3" type="text" class="form-control iv" autocomplete="off" disabled />
                                            <input id="spa-iv-input-3" type="text" class="form-control iv" autocomplete="off" disabled />
                                            <input id="spd-iv-input-3" type="text" class="form-control iv" autocomplete="off" disabled />
                                            <input id="spe-iv-input-3" type="text" class="form-control iv" autocomplete="off" disabled />
                                        </div>
                                    </div>
                                    <div id="mon-3-import" class="container-fluid import-main-menu tab-item hidden-button">
                                        <form>
                                            <textarea id="import-area-3" rows="10" cols="26"></textarea>
                                            <button type="button" id="import-btn-3" class="btn btn-sm import" disabled>Import!</button>
                                        </form>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="lower-row">
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div id="panel-heading-4" class="panel-heading">
                                <h3 id="panel-title-4" class="panel-title"></h3>
                                <img src="/images/blank.png" id="panel-image-4" class="panel-image art" alt="Image of the currently selected pokemon" height="70" width="90">
                                <ul class="nav nav-tabs">
                                    <li id="toggle-general-4-li" class="toggle-panel-item active"><a href="#" id="toggle-general-4" class="panel-tab-item">General</a></li>
                                    <li id="toggle-moves-4-li" class="toggle-panel-item"><a href="#" id="toggle-moves-4" class="panel-tab-item">Moves</a></li>
                                    <li id="toggle-evs-4-li" class="toggle-panel-item"><a href="#" id="toggle-evs-4" class="panel-tab-item">EVs/IVs</a></li>
                                    <li id="toggle-import-4-li" class="toggle-panel-item"><a href="#" id="toggle-import-4" class="panel-tab-item">Import</a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div id="mon-4-general" class="tab-item">
                                        <label for="pokemon-input-4" class="inline-label">Pok&eacute;mon</label>
                                        <input id="pokemon-input-4" type="text" class="form-control pokemon" autocomplete="off" data-provide="typeahead" disabled />
                                        <div class="shiny-space">
                                            <label for="level-input-4" class="inline-label">Level</label>
                                            <input id="level-input-4" type="text" class="form-control level" autocomplete="off" disabled />
                                            <span class="shiny-button-area">
                                            <label for="shiny-input-4" >Shiny</label>
                                            <input id="shiny-input-4" type="checkbox" class="shiny" disabled>
                                        </span>
                                        </div>
                                        <label for="item-input-4" class="inline-label">Item</label>
                                        <input id="item-input-4" type="text" class="form-control item" autocomplete="off" data-provide="typeahead" disabled />
                                        <label for="ability-input-4" class="inline-label">Ability</label>
                                        <input id="ability-input-4" type="text" class="form-control ability" autocomplete="off" data-provide="typeahead" disabled />
                                        <div class="dropdown open">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="moveset-toggle-4">Movesets</button>
                                            <div class="hidden-button smogset-menu lower-dropdown" id="moveset-input-4" aria-labelledby="dropdownMenuButton">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- EVs, IVs, Nature, etc. go here -->
                                    <div id="mon-4-moves" class="tab-item hidden-button">
                                        <label for="move-input-4-1">Moves</label>
                                        <input id="move-input-4-1" type="text" class="form-control move" autocomplete="off" data-provide="typeahead" disabled />
                                        <input id="move-input-4-2" type="text" class="form-control move" autocomplete="off" data-provide="typeahead" disabled />
                                        <input id="move-input-4-3" type="text" class="form-control move" autocomplete="off" data-provide="typeahead" disabled />
                                        <input id="move-input-4-4" type="text" class="form-control move" autocomplete="off" data-provide="typeahead" disabled />
                                    </div>
                                    <div id="mon-4-evs" class="container-fluid ev-main-menu tab-item hidden-button">
                                        <div class="col-md-9">
                                            <p style="font-weight: bold">EVs</p>
                                            <label for="hp-input-4" class="inline-label">HP</label>
                                            <input id="hp-input-4" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="atk-input-4" class="inline-label">Attack</label>
                                            <input id="atk-input-4" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="def-input-4" class="inline-label">Defense</label>
                                            <input id="def-input-4" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="spa-input-4" class="inline-label">Sp. Atk.</label>
                                            <input id="spa-input-4" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="spd-input-4" class="inline-label">Sp. Def.</label>
                                            <input id="spd-input-4" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="spe-input-4" class="inline-label">Speed</label>
                                            <input id="spe-input-4" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="nature-input-4" class="inline-label">Nature</label>
                                            <input id="nature-input-4" type="text" class="form-control nature" autocomplete="off" disabled />
                                        </div>
                                        <div class="col-md-3">
                                            <label>IVs</label>
                                            <input id="hp-iv-input-4" type="text" class="form-control iv top-iv" autocomplete="off" disabled />
                                            <input id="atk-iv-input-4" type="text" class="form-control iv" autocomplete="off" disabled />
                                            <input id="def-iv-input-4" type="text" class="form-control iv" autocomplete="off" disabled />
                                            <input id="spa-iv-input-4" type="text" class="form-control iv" autocomplete="off" disabled />
                                            <input id="spd-iv-input-4" type="text" class="form-control iv" autocomplete="off" disabled />
                                            <input id="spe-iv-input-4" type="text" class="form-control iv" autocomplete="off" disabled />
                                        </div>
                                    </div>
                                    <div id="mon-4-import" class="container-fluid import-main-menu tab-item hidden-button">
                                        <form>
                                            <textarea id="import-area-4" rows="10" cols="26"></textarea>
                                            <button type="button" id="import-btn-4" class="btn btn-sm import" disabled>Import!</button>
                                        </form>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div id="panel-heading-5" class="panel-heading">
                                <h3 id="panel-title-5" class="panel-title"></h3>
                                <img src="/images/blank.png" id="panel-image-5" class="panel-image art" alt="Image of the currently selected pokemon" height="70" width="90">
                                <ul class="nav nav-tabs">
                                    <li id="toggle-general-5-li" class="toggle-panel-item active"><a href="#" id="toggle-general-5" class="panel-tab-item">General</a></li>
                                    <li id="toggle-moves-5-li" class="toggle-panel-item"><a href="#" id="toggle-moves-5" class="panel-tab-item">Moves</a></li>
                                    <li id="toggle-evs-5-li" class="toggle-panel-item"><a href="#" id="toggle-evs-5" class="panel-tab-item">EVs/IVs</a></li>
                                    <li id="toggle-import-5-li" class="toggle-panel-item"><a href="#" id="toggle-import-5" class="panel-tab-item">Import</a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div id="mon-5-general" class="tab-item">
                                        <label for="pokemon-input-5" class="inline-label">Pok&eacute;mon</label>
                                        <input id="pokemon-input-5" type="text" class="form-control pokemon" autocomplete="off" data-provide="typeahead" disabled />
                                        <div class="shiny-space">
                                            <label for="level-input-5" class="inline-label">Level</label>
                                            <input id="level-input-5" type="text" class="form-control level" autocomplete="off" disabled />
                                            <span class="shiny-button-area">
                                            <label for="shiny-input-5" >Shiny</label>
                                            <input id="shiny-input-5" type="checkbox" class="shiny" disabled>
                                        </span>
                                        </div>
                                        <label for="item-input-5" class="inline-label">Item</label>
                                        <input id="item-input-5" type="text" class="form-control item" autocomplete="off" data-provide="typeahead" disabled />
                                        <label for="ability-input-5" class="inline-label">Ability</label>
                                        <input id="ability-input-5" type="text" class="form-control ability" autocomplete="off" data-provide="typeahead" disabled />
                                        <div class="dropdown open">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="moveset-toggle-5">Movesets</button>
                                            <div class="hidden-button smogset-menu lower-dropdown" id="moveset-input-5" aria-labelledby="dropdownMenuButton">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- EVs, IVs, Nature, etc. go here -->
                                    <div id="mon-5-moves" class="tab-item hidden-button">
                                        <label for="move-input-5-1">Moves</label>
                                        <input id="move-input-5-1" type="text" class="form-control move" autocomplete="off" data-provide="typeahead" disabled />
                                        <input id="move-input-5-2" type="text" class="form-control move" autocomplete="off" data-provide="typeahead" disabled />
                                        <input id="move-input-5-3" type="text" class="form-control move" autocomplete="off" data-provide="typeahead" disabled />
                                        <input id="move-input-5-4" type="text" class="form-control move" autocomplete="off" data-provide="typeahead" disabled />
                                    </div>
                                    <div id="mon-5-evs" class="container-fluid ev-main-menu tab-item hidden-button">
                                        <div class="col-md-9">
                                            <p style="font-weight: bold">EVs</p>
                                            <label for="hp-input-5" class="inline-label">HP</label>
                                            <input id="hp-input-5" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="atk-input-5" class="inline-label">Attack</label>
                                            <input id="atk-input-5" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="def-input-5" class="inline-label">Defense</label>
                                            <input id="def-input-5" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="spa-input-5" class="inline-label">Sp. Atk.</label>
                                            <input id="spa-input-5" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="spd-input-5" class="inline-label">Sp. Def.</label>
                                            <input id="spd-input-5" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="spe-input-5" class="inline-label">Speed</label>
                                            <input id="spe-input-5" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="nature-input-5" class="inline-label">Nature</label>
                                            <input id="nature-input-5" type="text" class="form-control nature" autocomplete="off" disabled />
                                        </div>
                                        <div class="col-md-3">
                                            <label>IVs</label>
                                            <input id="hp-iv-input-5" type="text" class="form-control iv top-iv" autocomplete="off" disabled />
                                            <input id="atk-iv-input-5" type="text" class="form-control iv" autocomplete="off" disabled />
                                            <input id="def-iv-input-5" type="text" class="form-control iv" autocomplete="off" disabled />
                                            <input id="spa-iv-input-5" type="text" class="form-control iv" autocomplete="off" disabled />
                                            <input id="spd-iv-input-5" type="text" class="form-control iv" autocomplete="off" disabled />
                                            <input id="spe-iv-input-5" type="text" class="form-control iv" autocomplete="off" disabled />
                                        </div>
                                    </div>
                                    <div id="mon-5-import" class="container-fluid import-main-menu tab-item hidden-button">
                                        <form>
                                            <textarea id="import-area-5" rows="10" cols="26"></textarea>
                                            <button type="button" id="import-btn-5" class="btn btn-sm import" disabled>Import!</button>
                                        </form>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div id="panel-heading-6" class="panel-heading">
                                <h3 id="panel-title-6" class="panel-title"></h3>
                                <img src="/images/blank.png" id="panel-image-6" class="panel-image art" alt="Image of the currently selected pokemon" height="70" width="90">
                                <ul class="nav nav-tabs">
                                    <li id="toggle-general-6-li" class="toggle-panel-item active"><a href="#" id="toggle-general-6" class="panel-tab-item">General</a></li>
                                    <li id="toggle-moves-6-li" class="toggle-panel-item"><a href="#" id="toggle-moves-6" class="panel-tab-item">Moves</a></li>
                                    <li id="toggle-evs-6-li" class="toggle-panel-item"><a href="#" id="toggle-evs-6" class="panel-tab-item">EVs/IVs</a></li>
                                    <li id="toggle-import-6-li" class="toggle-panel-item"><a href="#" id="toggle-import-6" class="panel-tab-item">Import</a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div id="mon-6-general" class="tab-item">
                                        <label for="pokemon-input-6" class="inline-label">Pok&eacute;mon</label>
                                        <input id="pokemon-input-6" type="text" class="form-control pokemon" autocomplete="off" data-provide="typeahead" disabled />
                                        <div class="shiny-space">
                                            <label for="level-input-6" class="inline-label">Level</label>
                                            <input id="level-input-6" type="text" class="form-control level" autocomplete="off" disabled />
                                            <span class="shiny-button-area">
                                            <label for="shiny-input-6" >Shiny</label>
                                            <input id="shiny-input-6" type="checkbox" class="shiny" disabled>
                                        </span>
                                        </div>
                                        <label for="item-input-6" class="inline-label">Item</label>
                                        <input id="item-input-6" type="text" class="form-control item" autocomplete="off" data-provide="typeahead" disabled />
                                        <label for="ability-input-6" class="inline-label">Ability</label>
                                        <input id="ability-input-6" type="text" class="form-control ability" autocomplete="off" data-provide="typeahead" disabled />
                                        <div class="dropdown open">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="moveset-toggle-6">Movesets</button>
                                            <div class="hidden-button smogset-menu lower-dropdown" id="moveset-input-6" aria-labelledby="dropdownMenuButton">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- EVs, IVs, Nature, etc. go here -->
                                    <div id="mon-6-moves" class="tab-item hidden-button">
                                        <label for="move-input-6-1">Moves</label>
                                        <input id="move-input-6-1" type="text" class="form-control move" autocomplete="off" data-provide="typeahead" disabled />
                                        <input id="move-input-6-2" type="text" class="form-control move" autocomplete="off" data-provide="typeahead" disabled />
                                        <input id="move-input-6-3" type="text" class="form-control move" autocomplete="off" data-provide="typeahead" disabled />
                                        <input id="move-input-6-4" type="text" class="form-control move" autocomplete="off" data-provide="typeahead" disabled />
                                    </div>
                                    <div id="mon-6-evs" class="container-fluid ev-main-menu tab-item hidden-button">
                                        <div class="col-md-9">
                                            <p style="font-weight: bold">EVs</p>
                                            <label for="hp-input-6" class="inline-label">HP</label>
                                            <input id="hp-input-6" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="atk-input-6" class="inline-label">Attack</label>
                                            <input id="atk-input-6" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="def-input-6" class="inline-label">Defense</label>
                                            <input id="def-input-6" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="spa-input-6" class="inline-label">Sp. Atk.</label>
                                            <input id="spa-input-6" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="spd-input-6" class="inline-label">Sp. Def.</label>
                                            <input id="spd-input-6" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="spe-input-6" class="inline-label">Speed</label>
                                            <input id="spe-input-6" type="text" class="form-control ev" autocomplete="off" disabled />
                                            <label for="nature-input-6" class="inline-label">Nature</label>
                                            <input id="nature-input-6" type="text" class="form-control nature" autocomplete="off" disabled />
                                        </div>
                                        <div class="col-md-3">
                                            <label>IVs</label>
                                            <input id="hp-iv-input-6" type="text" class="form-control iv top-iv" autocomplete="off" disabled />
                                            <input id="atk-iv-input-6" type="text" class="form-control iv" autocomplete="off" disabled />
                                            <input id="def-iv-input-6" type="text" class="form-control iv" autocomplete="off" disabled />
                                            <input id="spa-iv-input-6" type="text" class="form-control iv" autocomplete="off" disabled />
                                            <input id="spd-iv-input-6" type="text" class="form-control iv" autocomplete="off" disabled />
                                            <input id="spe-iv-input-6" type="text" class="form-control iv" autocomplete="off" disabled />
                                        </div>
                                    </div>
                                    <div id="mon-6-import" class="container-fluid import-main-menu tab-item hidden-button">
                                        <form>
                                            <textarea id="import-area-6" rows="10" cols="26"></textarea>
                                            <button type="button" id="import-btn-6" class="btn btn-sm import" disabled>Import!</button>
                                        </form>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-primary" id="chat-panel-top" style="height: 100%;">
                    <div class="panel-heading" id="chat-panel-header">
                        <h3 class="panel-title add-margin">Chat</h3>
                    </div>
                    <div id="chat-area" class="panel-body fill">
                        <ul id="messages"></ul>
                    </div>
                    <div class="panel-footer">
                        <button type="button" id="name-btn" class="btn btn-sm" data-toggle="modal" data-target="#pickName">Choose a Name</button>
                        <form id="chat">
                            <input type="text" class="form-control hidden-button" id="m" autocomplete="off" />
                        </form>
                    </div>
                </div>
                <div id="lower-options-area">
                  <label for="default-level-input" class="inline-label inline-label-small">Default Level: </label>
                  <input id="default-level-input" type="text" class=" form-control default-level" autocomplete="off" disabled />
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/data/pokedex.json"></script>
    <script type="text/javascript" src="/data/itemdex.json"></script>
    <script type="text/javascript" src="/data/natures.json"></script>
    <script type="text/javascript" src="/data/setdex-xy.json"></script>
    <script type="text/javascript" src="/data/learnsets.json"></script>
    <script src="/js/app.js"></script>
    <script src="/js/handlers.js"></script>
    <script src="/js/bootstrap3-typeahead.js"></script>
</body>
</html>
