<!-- chat.html start -->
<div id="chat-col" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div id="chat-panel" class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Chat</h3>
        </div>
        <div id="chat-area" class="panel-body fill">
            <ul id="messages"></ul>
        </div>
        <div class="panel-footer">
            <button type="button" id="name-btn" class="btn btn-sm" data-toggle="modal" data-target="#pickName">Choose a Name</button>
            <form id="chat" class="hidden">
                <input type="text" class="form-control hidden-button" id="m" autocomplete="off" />
            </form>
        </div>
    </div>
    <div id="settings-panel" class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Settings</h3>
        </div>
        <div id="settings-area" class="panel-body fill">
         <span>Generation: </span>
          <select id="gen-select">
              <option value="SM">SM</option>
              <option value="XY">XY</option>
              <option value="BW">BW</option>
              <option value="DPP">DPP</option>
          </select>
        </div>
    </div>
</div>
<!-- chat.html end -->