<!--export-team-modal start-->
<div id="export-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Export Team</h4>
            </div>
            <div class="modal-body">
                <textarea id="export-box-area" readonly rows="15" cols="30"></textarea>
            </div>
            <div class="modal-footer">
                <button id="copy-export-btn" type="button" class="btn btn-success">Copy to Clipboard</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--export-team-modal end-->
<!-- pick-name-modal start -->
<div id="pickName" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose a Name</h4>
            </div>
            <div class="modal-body">
                <form id="nameform" class="form-inline name">
                    <input type="text" id="namefield" class="form-control" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- pick-name-modal end -->
<!-- introduction-modal start -->
<div id="introModal" class="modal fade">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Welcome to your new Pok&ecaute;pad!</h4>
        </div>
    </div>
</div>