<!-- select-mon.html start -->
<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
	<div class="list-group">
		<div id="pokemon-1" data-tab-num="0" class="mon-select-button">
			<span class="mon-select-span list-group-item active text-center">
			  <img id= "mon-pic-1" src="https://pldh.net/media/pokemon/shuffle/201.png" class="select-img" height="48" width="48" />
			  <p id="mon-select-1" class="mon-select-label">Unown</p>
			</span>
		</div>
		<div id="pokemon-2" data-tab-num="1" class="mon-select-button">
			<span class="mon-select-span list-group-item text-center">
			  <img id="mon-pic-2" src="https://pldh.net/media/pokemon/shuffle/201.png" class="select-img" height="48" width="48" />
			  <p id="mon-select-2" class="mon-select-label">Unown</p>
			</span>
		</div>
		<div id="pokemon-3" data-tab-num="2" class="mon-select-button">
			<span class="mon-select-span list-group-item text-center">
			  <img id="mon-pic-3" src="https://pldh.net/media/pokemon/shuffle/201.png" class="select-img" height="48" width="48" />
			  <p id="mon-select-3" class="mon-select-label">Unown</p>
			</span>
		</div>
		<div id="pokemon-4" data-tab-num="3" class="mon-select-button">
			<span class="mon-select-span list-group-item text-center">
			  <img id="mon-pic-4" src="https://pldh.net/media/pokemon/shuffle/201.png" class="select-img" height="48" width="48" />
			  <p id="mon-select-4" class="mon-select-label">Unown</p>
			</span>
		</div>
		<div id="pokemon-5" data-tab-num="4" class="mon-select-button">
			<span class="mon-select-span list-group-item text-center">
			  <img id="mon-pic-5" src="https://pldh.net/media/pokemon/shuffle/201.png" class="select-img" height="48" width="48" />
			  <p id="mon-select-5" class="mon-select-label">Unown</p>
			</span>
		</div>
		<div id="pokemon-6" data-tab-num="5" class="mon-select-button">
			<span class="mon-select-span list-group-item text-center">
			  <img id="mon-pic-6" src="https://pldh.net/media/pokemon/shuffle/201.png" class="select-img" height="48" width="48" />
			  <p id="mon-select-6" class="mon-select-label">Unown</p>
			</span>
		</div>
  </div>
</div>
<!-- select-mon.html end -->