 body {
     margin: 0;
     padding: 0;
     font: 13px Helvetica, Arial;
 }
 
 #main-content {
  margin-top: 10%;
  text-align: center;
 }
 
 @media (min-width: 992px) and (max-width: 1591px) {
   #main-content {
     margin-top: 7%;
     padding: 1%;
   }
 }
 
 @media (min-width: 539px) and (max-width: 991px) {
   #main-content {
     margin-top: 2%;
     padding: 1%;
   }
 } 
 
 #create-room {
  margin: auto;
 }
 
