/************************/
/* Main Style
/************************/
body {
    margin: 0;
    padding: 0;
    font: 13px Helvetica, Arial;
}

form {
    padding-bottom: 3px;
    bottom: 0;
}

.container {
    min-height: 100%;
    height: 100%;
}

/************************/
/* Header Style
/************************/
.navbar-header {
    width: 12%;
}

#invite-btn,
#export-btn {
    float: right;
    margin-right: 1%;
    margin-top: 1%;
}


.default-level {
    width: 32%;
}


#logo {
    float: left;
    margin-right: 2%;
    margin-top: 2%;
}

#nav-line li {
    display: block;
    padding: 10px 15px;
}

.nav-tabs {
    margin-bottom: 0;
}

.nav li a {
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
}

#nav-line li {
    font-size: 1.1em;
}

.modal-body textarea {
    margin-left: 33%;
    margin-right: 33%;
    overflow: auto;
}

.hidden-button {
    display: none;
}

.navbar-default {
    margin-bottom: 0.5%;
}

.add-margin {
    margin-bottom: 10px;
}

#chat-area {
    padding: 0;
}

#panel {
    height: 100%;
}

.panel-body {
    padding-bottom: 1%;
}

.panel-primary {
    margin-bottom: 0.5%;
}

.panel-image {
    position: absolute;
    right: 10%;
    top: 0%;
}

#upper-row {
    margin-bottom: 0.5%;
}

.panel-heading {
    padding-bottom: 0%;
    padding-top: 10%;
    background-color: #158cba;
    color: #fff;
}

/************************/
/* Messages Style
/************************/
#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 300px;
    max-height: 300px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

#messages li {
    padding: 5px 10px;
    padding-left: 1px;
    word-wrap: break-word;
    text-indent: 1px;
    margin-left: 1px;
}

#messages li img {
    margin-top: -10px;
    height: 50%;
    width: auto;
}

#messages li.server {
    font-style: italic;
    padding-right: 10px;
}

#pokemon {
    height: 300px;
    max-height: 300px;
    overflow: auto;
}

/************************/
/* Editor Style
/************************/
.ev {
    height: 0.5px;
    width: 95px;
}

.ev-main-menu {
    padding-left: 0;
    padding-right: 0;
}

.iv {
    height: 0.2px;
    width: 55px;
    margin-top: 1.3%;
}

.form-control {
    height: 38px;
}

.toggle-panel-item {
    width: 24%;
}

.panel-tab-item {
    text-align: center;
}

.dropdown-toggle {
    padding: 0.5%;
    margin-top: 1.5%;
    margin-left: 68%;
    margin-right: 22%;
}

.smogset-menu {
    z-index: 9999;
    position: absolute;
    left: 114px;
    background-color: #fff;
    list-style: none;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    padding: 1%;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 3px 1.5px;
    clear: both;
    font-weight: 400;
    color: #373a3c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #2b2d2f;
    text-decoration: none;
    background-color: #e8e8e8;
}

.move {
    margin-bottom: 3%;
}

.inline-label {
    display: block;
    width: 40%;
    height: 5%;
    margin-top: 3%;
    float: left;
}

.inline-label-small {
    width: 33%;
}

.pokemon, .level, .ability, .item {
    width: 55%;
    margin-top: 0.8%;
    margin-bottom: 0.9%;
}

.nature {
    width: 55%;
    margin-top: 0.5%;
}

.level {
    width: 25%;
}

.shiny-space {
    position: relative;
}

.shiny-button-area {
    float: right;
    position: absolute;
    right: 20px;
    top: 1px;
}

#lower-options-area {
    border: 1px solid #000;
    padding: 0.8%;
    border-radius: .35em;
}

#read-only-message {
    text-align: center;
    font-size: 16pt;
    color: rgb(144, 144, 144);
    margin-top: 15%;
}

/************************/
/* Loading Style
/************************/
.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/pokepad/images/pokeball.gif) center no-repeat #fff;
}


/************************/
/* Media Queries
/************************/

@media (min-width: 992px) and (max-width: 1591px) {
    .col-md-9 {
        padding-right: 1px;
    }
    .col-md-4 {
        width: 33%;
        padding-left: 0%;
        padding-right: 1%;
    }
    .panel-tab-item {
        position: absolute;
        right: 3px;
    }
    .import {
        margin-left: 150px;
    }
    #import-area-6, #import-area-5, #import-area-4, #import-area-3, #import-area-2, #import-area-1 {
        position: relative;
        padding-right: 1px;
    }
    .level {
        width: 59px;
    }
    .shiny-button-area {
        right: 3px;
    }
}

@media (min-width: 539px) and (max-width: 991px) {
    .form-control {
        width: 25%;
    }
    .inline-label {
        display: block;
        width: 40%;
        height: 5%;
        margin-top: 3%;
        float: none;
    }
}


/************************/
/* Sprite Sheet
/************************/

.art {
    background-image: url('../images/art.png');
}

.art.bulbasaur{background-position:-96px 0}
.art.ivysaur{background-position:-192px 0}
.art.venusaur-mega{background-position:-288px 0}
.art.venusaur{background-position:-384px 0}
.art.charmander{background-position:-480px 0}
.art.charmeleon{background-position:-576px 0}
.art.charizard-mega-x{background-position:-672px 0}
.art.charizard-mega-y{background-position:-768px 0}
.art.charizard{background-position:-864px 0}
.art.squirtle{background-position:-960px 0}
.art.wartortle{background-position:-1056px 0}
.art.blastoise-mega{background-position:-1152px 0}
.art.blastoise{background-position:-1248px 0}
.art.caterpie{background-position:-1344px 0}
.art.metapod{background-position:-1440px 0}
.art.butterfree{background-position:-1536px 0}
.art.weedle{background-position:-1632px 0}
.art.kakuna{background-position:-1728px 0}
.art.beedrill-mega{background-position:-1824px 0}
.art.beedrill{background-position:-1920px 0}
.art.pidgey{background-position:-2016px 0}
.art.pidgeotto{background-position:-2112px 0}
.art.pidgeot-mega{background-position:-2208px 0}
.art.pidgeot{background-position:-2304px 0}
.art.rattata-alola{background-position:-2400px 0}
.art.rattata{background-position:-2496px 0}
.art.raticate-alola{background-position:-2592px 0}
.art.raticate{background-position:-2688px 0}
.art.spearow{background-position:-2784px 0}
.art.fearow{background-position:0 -96px}
.art.ekans{background-position:-96px -96px}
.art.arbok{background-position:-192px -96px}
.art.pikachu{background-position:-288px -96px}
.art.raichu-alola{background-position:-384px -96px}
.art.raichu{background-position:-480px -96px}
.art.sandshrew-alola{background-position:-576px -96px}
.art.sandshrew{background-position:-672px -96px}
.art.sandslash-alola{background-position:-768px -96px}
.art.sandslash{background-position:-864px -96px}
.art.nidoran{background-position:-960px -96px}
.art.nidorina{background-position:-1056px -96px}
.art.nidoqueen{background-position:-1152px -96px}
.art.nidoran-male{background-position:-1248px -96px}
.art.nidorino{background-position:-1344px -96px}
.art.nidoking{background-position:-1440px -96px}
.art.clefairy{background-position:-1536px -96px}
.art.clefable{background-position:-1632px -96px}
.art.vulpix-alola{background-position:-1728px -96px}
.art.vulpix{background-position:-1824px -96px}
.art.ninetales-alola{background-position:-1920px -96px}
.art.ninetales{background-position:-2016px -96px}
.art.jigglypuff{background-position:-2112px -96px}
.art.wigglytuff{background-position:-2208px -96px}
.art.zubat{background-position:-2304px -96px}
.art.golbat{background-position:-2400px -96px}
.art.oddish{background-position:-2496px -96px}
.art.gloom{background-position:-2592px -96px}
.art.vileplume{background-position:-2688px -96px}
.art.paras{background-position:-2784px -96px}
.art.parasect{background-position:0 -192px}
.art.venonat{background-position:-96px -192px}
.art.venomoth{background-position:-192px -192px}
.art.diglett-alola{background-position:-288px -192px}
.art.diglett{background-position:-384px -192px}
.art.dugtrio-alola{background-position:-480px -192px}
.art.dugtrio{background-position:-576px -192px}
.art.meowth-alola{background-position:-672px -192px}
.art.meowth{background-position:-768px -192px}
.art.persian-alola{background-position:-864px -192px}
.art.persian{background-position:-960px -192px}
.art.psyduck{background-position:-1056px -192px}
.art.golduck{background-position:-1152px -192px}
.art.mankey{background-position:-1248px -192px}
.art.primeape{background-position:-1344px -192px}
.art.growlithe{background-position:-1440px -192px}
.art.arcanine{background-position:-1536px -192px}
.art.poliwag{background-position:-1632px -192px}
.art.poliwhirl{background-position:-1728px -192px}
.art.poliwrath{background-position:-1824px -192px}
.art.abra{background-position:-1920px -192px}
.art.kadabra{background-position:-2016px -192px}
.art.alakazam-mega{background-position:-2112px -192px}
.art.alakazam{background-position:-2208px -192px}
.art.machop{background-position:-2304px -192px}
.art.machoke{background-position:-2400px -192px}
.art.machamp{background-position:-2496px -192px}
.art.bellsprout{background-position:-2592px -192px}
.art.weepinbell{background-position:-2688px -192px}
.art.victreebel{background-position:-2784px -192px}
.art.tentacool{background-position:0 -288px}
.art.tentacruel{background-position:-96px -288px}
.art.geodude-alola{background-position:-192px -288px}
.art.geodude{background-position:-288px -288px}
.art.graveler-alola{background-position:-384px -288px}
.art.graveler{background-position:-480px -288px}
.art.golem-alola{background-position:-576px -288px}
.art.golem{background-position:-672px -288px}
.art.ponyta{background-position:-768px -288px}
.art.rapidash{background-position:-864px -288px}
.art.slowpoke{background-position:-960px -288px}
.art.slowbro-mega{background-position:-1056px -288px}
.art.slowbro{background-position:-1152px -288px}
.art.magnemite{background-position:-1248px -288px}
.art.magneton{background-position:-1344px -288px}
.art.farfetchd{background-position:-1440px -288px}
.art.doduo{background-position:-1536px -288px}
.art.dodrio{background-position:-1632px -288px}
.art.seel{background-position:-1728px -288px}
.art.dewgong{background-position:-1824px -288px}
.art.grimer-alola{background-position:-1920px -288px}
.art.grimer{background-position:-2016px -288px}
.art.muk-alola{background-position:-2112px -288px}
.art.muk{background-position:-2208px -288px}
.art.shellder{background-position:-2304px -288px}
.art.cloyster{background-position:-2400px -288px}
.art.gastly{background-position:-2496px -288px}
.art.haunter{background-position:-2592px -288px}
.art.gengar-mega{background-position:-2688px -288px}
.art.gengar{background-position:-2784px -288px}
.art.onix{background-position:0 -384px}
.art.drowzee{background-position:-96px -384px}
.art.hypno{background-position:-192px -384px}
.art.krabby{background-position:-288px -384px}
.art.kingler{background-position:-384px -384px}
.art.voltorb{background-position:-480px -384px}
.art.electrode{background-position:-576px -384px}
.art.exeggcute{background-position:-672px -384px}
.art.exeggutor-alola{background-position:-768px -384px}
.art.exeggutor{background-position:-864px -384px}
.art.cubone{background-position:-960px -384px}
.art.marowak-alola{background-position:-1056px -384px}
.art.marowak{background-position:-1152px -384px}
.art.hitmonlee{background-position:-1248px -384px}
.art.hitmonchan{background-position:-1344px -384px}
.art.lickitung{background-position:-1440px -384px}
.art.koffing{background-position:-1536px -384px}
.art.weezing{background-position:-1632px -384px}
.art.rhyhorn{background-position:-1728px -384px}
.art.rhydon{background-position:-1824px -384px}
.art.chansey{background-position:-1920px -384px}
.art.tangela{background-position:-2016px -384px}
.art.kangaskhan-mega{background-position:-2112px -384px}
.art.kangaskhan{background-position:-2208px -384px}
.art.horsea{background-position:-2304px -384px}
.art.seadra{background-position:-2400px -384px}
.art.goldeen{background-position:-2496px -384px}
.art.seaking{background-position:-2592px -384px}
.art.staryu{background-position:-2688px -384px}
.art.starmie{background-position:-2784px -384px}
.art.mr-mime{background-position:0 -480px}
.art.scyther{background-position:-96px -480px}
.art.jynx{background-position:-192px -480px}
.art.electabuzz{background-position:-288px -480px}
.art.magmar{background-position:-384px -480px}
.art.pinsir-mega{background-position:-480px -480px}
.art.pinsir{background-position:-576px -480px}
.art.tauros{background-position:-672px -480px}
.art.magikarp{background-position:-768px -480px}
.art.gyarados-mega{background-position:-864px -480px}
.art.gyarados{background-position:-960px -480px}
.art.lapras{background-position:-1056px -480px}
.art.ditto{background-position:-1152px -480px}
.art.eevee{background-position:-1248px -480px}
.art.vaporeon{background-position:-1344px -480px}
.art.jolteon{background-position:-1440px -480px}
.art.flareon{background-position:-1536px -480px}
.art.porygon{background-position:-1632px -480px}
.art.omanyte{background-position:-1728px -480px}
.art.omastar{background-position:-1824px -480px}
.art.kabuto{background-position:-1920px -480px}
.art.kabutops{background-position:-2016px -480px}
.art.aerodactyl-mega{background-position:-2112px -480px}
.art.aerodactyl{background-position:-2208px -480px}
.art.snorlax{background-position:-2304px -480px}
.art.articuno{background-position:-2400px -480px}
.art.zapdos{background-position:-2496px -480px}
.art.moltres{background-position:-2592px -480px}
.art.dratini{background-position:-2688px -480px}
.art.dragonair{background-position:-2784px -480px}
.art.dragonite{background-position:0 -576px}
.art.mewtwo-mega-x{background-position:-96px -576px}
.art.mewtwo-mega-y{background-position:-192px -576px}
.art.mewtwo{background-position:-288px -576px}
.art.mew{background-position:-384px -576px}
.art.chikorita{background-position:-480px -576px}
.art.bayleef{background-position:-576px -576px}
.art.meganium{background-position:-672px -576px}
.art.cyndaquil{background-position:-768px -576px}
.art.quilava{background-position:-864px -576px}
.art.typhlosion{background-position:-960px -576px}
.art.totodile{background-position:-1056px -576px}
.art.croconaw{background-position:-1152px -576px}
.art.feraligatr{background-position:-1248px -576px}
.art.sentret{background-position:-1344px -576px}
.art.furret{background-position:-1440px -576px}
.art.hoothoot{background-position:-1536px -576px}
.art.noctowl{background-position:-1632px -576px}
.art.ledyba{background-position:-1728px -576px}
.art.ledian{background-position:-1824px -576px}
.art.spinarak{background-position:-1920px -576px}
.art.ariados{background-position:-2016px -576px}
.art.crobat{background-position:-2112px -576px}
.art.chinchou{background-position:-2208px -576px}
.art.lanturn{background-position:-2304px -576px}
.art.pichu{background-position:-2400px -576px}
.art.cleffa{background-position:-2496px -576px}
.art.igglybuff{background-position:-2592px -576px}
.art.togepi{background-position:-2688px -576px}
.art.togetic{background-position:-2784px -576px}
.art.natu{background-position:0 -672px}
.art.xatu{background-position:-96px -672px}
.art.mareep{background-position:-192px -672px}
.art.flaaffy{background-position:-288px -672px}
.art.ampharos-mega{background-position:-384px -672px}
.art.ampharos{background-position:-480px -672px}
.art.bellossom{background-position:-576px -672px}
.art.marill{background-position:-672px -672px}
.art.azumarill{background-position:-768px -672px}
.art.sudowoodo{background-position:-864px -672px}
.art.politoed{background-position:-960px -672px}
.art.hoppip{background-position:-1056px -672px}
.art.skiploom{background-position:-1152px -672px}
.art.jumpluff{background-position:-1248px -672px}
.art.aipom{background-position:-1344px -672px}
.art.sunkern{background-position:-1440px -672px}
.art.sunflora{background-position:-1536px -672px}
.art.yanma{background-position:-1632px -672px}
.art.wooper{background-position:-1728px -672px}
.art.quagsire{background-position:-1824px -672px}
.art.espeon{background-position:-1920px -672px}
.art.umbreon{background-position:-2016px -672px}
.art.murkrow{background-position:-2112px -672px}
.art.slowking{background-position:-2208px -672px}
.art.misdreavus{background-position:-2304px -672px}
.art.wobbuffet{background-position:-2400px -672px}
.art.girafarig{background-position:-2496px -672px}
.art.pineco{background-position:-2592px -672px}
.art.forretress{background-position:-2688px -672px}
.art.dunsparce{background-position:-2784px -672px}
.art.gligar{background-position:0 -768px}
.art.steelix-mega{background-position:-96px -768px}
.art.steelix{background-position:-192px -768px}
.art.snubbull{background-position:-288px -768px}
.art.granbull{background-position:-384px -768px}
.art.qwilfish{background-position:-480px -768px}
.art.scizor-mega{background-position:-576px -768px}
.art.scizor{background-position:-672px -768px}
.art.shuckle{background-position:-768px -768px}
.art.heracross-mega{background-position:-864px -768px}
.art.heracross{background-position:-960px -768px}
.art.sneasel{background-position:-1056px -768px}
.art.teddiursa{background-position:-1152px -768px}
.art.ursaring{background-position:-1248px -768px}
.art.slugma{background-position:-1344px -768px}
.art.magcargo{background-position:-1440px -768px}
.art.swinub{background-position:-1536px -768px}
.art.piloswine{background-position:-1632px -768px}
.art.corsola{background-position:-1728px -768px}
.art.remoraid{background-position:-1824px -768px}
.art.octillery{background-position:-1920px -768px}
.art.delibird{background-position:-2016px -768px}
.art.mantine{background-position:-2112px -768px}
.art.skarmory{background-position:-2208px -768px}
.art.houndour{background-position:-2304px -768px}
.art.houndoom-mega{background-position:-2400px -768px}
.art.houndoom{background-position:-2496px -768px}
.art.kingdra{background-position:-2592px -768px}
.art.phanpy{background-position:-2688px -768px}
.art.donphan{background-position:-2784px -768px}
.art.porygon2{background-position:0 -864px}
.art.stantler{background-position:-96px -864px}
.art.smeargle{background-position:-192px -864px}
.art.tyrogue{background-position:-288px -864px}
.art.hitmontop{background-position:-384px -864px}
.art.smoochum{background-position:-480px -864px}
.art.elekid{background-position:-576px -864px}
.art.magby{background-position:-672px -864px}
.art.miltank{background-position:-768px -864px}
.art.blissey{background-position:-864px -864px}
.art.raikou{background-position:-960px -864px}
.art.entei{background-position:-1056px -864px}
.art.suicune{background-position:-1152px -864px}
.art.larvitar{background-position:-1248px -864px}
.art.pupitar{background-position:-1344px -864px}
.art.tyranitar-mega{background-position:-1440px -864px}
.art.tyranitar{background-position:-1536px -864px}
.art.lugia{background-position:-1632px -864px}
.art.ho-oh{background-position:-1728px -864px}
.art.celebi{background-position:-1824px -864px}
.art.treecko{background-position:-1920px -864px}
.art.grovyle{background-position:-2016px -864px}
.art.sceptile-mega{background-position:-2112px -864px}
.art.sceptile{background-position:-2208px -864px}
.art.torchic{background-position:-2304px -864px}
.art.combusken{background-position:-2400px -864px}
.art.blaziken-mega{background-position:-2496px -864px}
.art.blaziken{background-position:-2592px -864px}
.art.mudkip{background-position:-2688px -864px}
.art.marshtomp{background-position:-2784px -864px}
.art.swampert-mega{background-position:0 -960px}
.art.swampert{background-position:-96px -960px}
.art.poochyena{background-position:-192px -960px}
.art.mightyena{background-position:-288px -960px}
.art.zigzagoon{background-position:-384px -960px}
.art.linoone{background-position:-480px -960px}
.art.wurmple{background-position:-576px -960px}
.art.silcoon{background-position:-672px -960px}
.art.beautifly{background-position:-768px -960px}
.art.cascoon{background-position:-864px -960px}
.art.dustox{background-position:-960px -960px}
.art.lotad{background-position:-1056px -960px}
.art.lombre{background-position:-1152px -960px}
.art.ludicolo{background-position:-1248px -960px}
.art.seedot{background-position:-1344px -960px}
.art.nuzleaf{background-position:-1440px -960px}
.art.shiftry{background-position:-1536px -960px}
.art.taillow{background-position:-1632px -960px}
.art.swellow{background-position:-1728px -960px}
.art.wingull{background-position:-1824px -960px}
.art.pelipper{background-position:-1920px -960px}
.art.ralts{background-position:-2016px -960px}
.art.kirlia{background-position:-2112px -960px}
.art.gardevoir-mega{background-position:-2208px -960px}
.art.gardevoir{background-position:-2304px -960px}
.art.surskit{background-position:-2400px -960px}
.art.masquerain{background-position:-2496px -960px}
.art.shroomish{background-position:-2592px -960px}
.art.breloom{background-position:-2688px -960px}
.art.slakoth{background-position:-2784px -960px}
.art.vigoroth{background-position:0 -1056px}
.art.slaking{background-position:-96px -1056px}
.art.nincada{background-position:-192px -1056px}
.art.ninjask{background-position:-288px -1056px}
.art.shedinja{background-position:-384px -1056px}
.art.whismur{background-position:-480px -1056px}
.art.loudred{background-position:-576px -1056px}
.art.exploud{background-position:-672px -1056px}
.art.makuhita{background-position:-768px -1056px}
.art.hariyama{background-position:-864px -1056px}
.art.azurill{background-position:-960px -1056px}
.art.nosepass{background-position:-1056px -1056px}
.art.skitty{background-position:-1152px -1056px}
.art.delcatty{background-position:-1248px -1056px}
.art.sableye-mega{background-position:-1344px -1056px}
.art.sableye{background-position:-1440px -1056px}
.art.mawile-mega{background-position:-1536px -1056px}
.art.mawile{background-position:-1632px -1056px}
.art.aron{background-position:-1728px -1056px}
.art.lairon{background-position:-1824px -1056px}
.art.aggron-mega{background-position:-1920px -1056px}
.art.aggron{background-position:-2016px -1056px}
.art.meditite{background-position:-2112px -1056px}
.art.medicham-mega{background-position:-2208px -1056px}
.art.medicham{background-position:-2304px -1056px}
.art.electrike{background-position:-2400px -1056px}
.art.manectric-mega{background-position:-2496px -1056px}
.art.manectric{background-position:-2592px -1056px}
.art.plusle{background-position:-2688px -1056px}
.art.minun{background-position:-2784px -1056px}
.art.volbeat{background-position:0 -1152px}
.art.illumise{background-position:-96px -1152px}
.art.roselia{background-position:-192px -1152px}
.art.gulpin{background-position:-288px -1152px}
.art.swalot{background-position:-384px -1152px}
.art.carvanha{background-position:-480px -1152px}
.art.sharpedo-mega{background-position:-576px -1152px}
.art.sharpedo{background-position:-672px -1152px}
.art.wailmer{background-position:-768px -1152px}
.art.wailord{background-position:-864px -1152px}
.art.numel{background-position:-960px -1152px}
.art.camerupt-mega{background-position:-1056px -1152px}
.art.camerupt{background-position:-1152px -1152px}
.art.torkoal{background-position:-1248px -1152px}
.art.spoink{background-position:-1344px -1152px}
.art.grumpig{background-position:-1440px -1152px}
.art.spinda{background-position:-1536px -1152px}
.art.trapinch{background-position:-1632px -1152px}
.art.vibrava{background-position:-1728px -1152px}
.art.flygon{background-position:-1824px -1152px}
.art.cacnea{background-position:-1920px -1152px}
.art.cacturne{background-position:-2016px -1152px}
.art.swablu{background-position:-2112px -1152px}
.art.altaria-mega{background-position:-2208px -1152px}
.art.altaria{background-position:-2304px -1152px}
.art.zangoose{background-position:-2400px -1152px}
.art.seviper{background-position:-2496px -1152px}
.art.lunatone{background-position:-2592px -1152px}
.art.solrock{background-position:-2688px -1152px}
.art.barboach{background-position:-2784px -1152px}
.art.whiscash{background-position:0 -1248px}
.art.corphish{background-position:-96px -1248px}
.art.crawdaunt{background-position:-192px -1248px}
.art.baltoy{background-position:-288px -1248px}
.art.claydol{background-position:-384px -1248px}
.art.lileep{background-position:-480px -1248px}
.art.cradily{background-position:-576px -1248px}
.art.anorith{background-position:-672px -1248px}
.art.armaldo{background-position:-768px -1248px}
.art.feebas{background-position:-864px -1248px}
.art.milotic{background-position:-960px -1248px}
.art.castform{background-position:-1056px -1248px}
.art.kecleon{background-position:-1152px -1248px}
.art.shuppet{background-position:-1248px -1248px}
.art.banette-mega{background-position:-1344px -1248px}
.art.banette{background-position:-1440px -1248px}
.art.duskull{background-position:-1536px -1248px}
.art.dusclops{background-position:-1632px -1248px}
.art.tropius{background-position:-1728px -1248px}
.art.chimecho{background-position:-1824px -1248px}
.art.absol-mega{background-position:-1920px -1248px}
.art.absol{background-position:-2016px -1248px}
.art.wynaut{background-position:-2112px -1248px}
.art.snorunt{background-position:-2208px -1248px}
.art.glalie-mega{background-position:-2304px -1248px}
.art.glalie{background-position:-2400px -1248px}
.art.spheal{background-position:-2496px -1248px}
.art.sealeo{background-position:-2592px -1248px}
.art.walrein{background-position:-2688px -1248px}
.art.clamperl{background-position:-2784px -1248px}
.art.huntail{background-position:0 -1344px}
.art.gorebyss{background-position:-96px -1344px}
.art.relicanth{background-position:-192px -1344px}
.art.luvdisc{background-position:-288px -1344px}
.art.bagon{background-position:-384px -1344px}
.art.shelgon{background-position:-480px -1344px}
.art.salamence-mega{background-position:-576px -1344px}
.art.salamence{background-position:-672px -1344px}
.art.beldum{background-position:-768px -1344px}
.art.metang{background-position:-864px -1344px}
.art.metagross-mega{background-position:-960px -1344px}
.art.metagross{background-position:-1056px -1344px}
.art.regirock{background-position:-1152px -1344px}
.art.regice{background-position:-1248px -1344px}
.art.registeel{background-position:-1344px -1344px}
.art.latias-mega{background-position:-1440px -1344px}
.art.latias{background-position:-1536px -1344px}
.art.latios-mega{background-position:-1632px -1344px}
.art.latios{background-position:-1728px -1344px}
.art.kyogre-primal{background-position:-1824px -1344px}
.art.kyogre{background-position:-1920px -1344px}
.art.groudon-primal{background-position:-2016px -1344px}
.art.groudon{background-position:-2112px -1344px}
.art.rayquaza-mega{background-position:-2208px -1344px}
.art.rayquaza{background-position:-2304px -1344px}
.art.jirachi{background-position:-2400px -1344px}
.art.deoxys-attack{background-position:-2496px -1344px}
.art.deoxys-defense{background-position:-2592px -1344px}
.art.deoxys-speed{background-position:-2688px -1344px}
.art.deoxys{background-position:-2784px -1344px}
.art.turtwig{background-position:0 -1440px}
.art.grotle{background-position:-96px -1440px}
.art.torterra{background-position:-192px -1440px}
.art.chimchar{background-position:-288px -1440px}
.art.monferno{background-position:-384px -1440px}
.art.infernape{background-position:-480px -1440px}
.art.piplup{background-position:-576px -1440px}
.art.prinplup{background-position:-672px -1440px}
.art.empoleon{background-position:-768px -1440px}
.art.starly{background-position:-864px -1440px}
.art.staravia{background-position:-960px -1440px}
.art.staraptor{background-position:-1056px -1440px}
.art.bidoof{background-position:-1152px -1440px}
.art.bibarel{background-position:-1248px -1440px}
.art.kricketot{background-position:-1344px -1440px}
.art.kricketune{background-position:-1440px -1440px}
.art.shinx{background-position:-1536px -1440px}
.art.luxio{background-position:-1632px -1440px}
.art.luxray{background-position:-1728px -1440px}
.art.budew{background-position:-1824px -1440px}
.art.roserade{background-position:-1920px -1440px}
.art.cranidos{background-position:-2016px -1440px}
.art.rampardos{background-position:-2112px -1440px}
.art.shieldon{background-position:-2208px -1440px}
.art.bastiodon{background-position:-2304px -1440px}
.art.burmy-sandy{background-position:-2400px -1440px}
.art.burmy-trash{background-position:-2496px -1440px}
.art.burmy{background-position:-2592px -1440px}
.art.wormadam-sandy{background-position:-2688px -1440px}
.art.wormadam-trash{background-position:-2784px -1440px}
.art.wormadam{background-position:0 -1536px}
.art.mothim{background-position:-96px -1536px}
.art.combee{background-position:-192px -1536px}
.art.vespiquen{background-position:-288px -1536px}
.art.pachirisu{background-position:-384px -1536px}
.art.buizel{background-position:-480px -1536px}
.art.floatzel{background-position:-576px -1536px}
.art.cherubi{background-position:-672px -1536px}
.art.cherrim-overcast{background-position:-768px -1536px}
.art.cherrim{background-position:-864px -1536px}
.art.shellos-east{background-position:-960px -1536px}
.art.shellos{background-position:-1056px -1536px}
.art.gastrodon-east{background-position:-1152px -1536px}
.art.gastrodon{background-position:-1248px -1536px}
.art.ambipom{background-position:-1344px -1536px}
.art.drifloon{background-position:-1440px -1536px}
.art.drifblim{background-position:-1536px -1536px}
.art.buneary{background-position:-1632px -1536px}
.art.lopunny-mega{background-position:-1728px -1536px}
.art.lopunny{background-position:-1824px -1536px}
.art.mismagius{background-position:-1920px -1536px}
.art.honchkrow{background-position:-2016px -1536px}
.art.glameow{background-position:-2112px -1536px}
.art.purugly{background-position:-2208px -1536px}
.art.chingling{background-position:-2304px -1536px}
.art.stunky{background-position:-2400px -1536px}
.art.skuntank{background-position:-2496px -1536px}
.art.bronzor{background-position:-2592px -1536px}
.art.bronzong{background-position:-2688px -1536px}
.art.bonsly{background-position:-2784px -1536px}
.art.mime-jr{background-position:0 -1632px}
.art.happiny{background-position:-96px -1632px}
.art.chatot{background-position:-192px -1632px}
.art.spiritomb{background-position:-288px -1632px}
.art.gible{background-position:-384px -1632px}
.art.gabite{background-position:-480px -1632px}
.art.garchomp-mega{background-position:-576px -1632px}
.art.garchomp{background-position:-672px -1632px}
.art.munchlax{background-position:-768px -1632px}
.art.riolu{background-position:-864px -1632px}
.art.lucario-mega{background-position:-960px -1632px}
.art.lucario{background-position:-1056px -1632px}
.art.hippopotas{background-position:-1152px -1632px}
.art.hippowdon{background-position:-1248px -1632px}
.art.skorupi{background-position:-1344px -1632px}
.art.drapion{background-position:-1440px -1632px}
.art.croagunk{background-position:-1536px -1632px}
.art.toxicroak{background-position:-1632px -1632px}
.art.carnivine{background-position:-1728px -1632px}
.art.finneon{background-position:-1824px -1632px}
.art.lumineon{background-position:-1920px -1632px}
.art.mantyke{background-position:-2016px -1632px}
.art.snover{background-position:-2112px -1632px}
.art.abomasnow-mega{background-position:-2208px -1632px}
.art.abomasnow{background-position:-2304px -1632px}
.art.weavile{background-position:-2400px -1632px}
.art.magnezone{background-position:-2496px -1632px}
.art.lickilicky{background-position:-2592px -1632px}
.art.rhyperior{background-position:-2688px -1632px}
.art.tangrowth{background-position:-2784px -1632px}
.art.electivire{background-position:0 -1728px}
.art.magmortar{background-position:-96px -1728px}
.art.togekiss{background-position:-192px -1728px}
.art.yanmega{background-position:-288px -1728px}
.art.leafeon{background-position:-384px -1728px}
.art.glaceon{background-position:-480px -1728px}
.art.gliscor{background-position:-576px -1728px}
.art.mamoswine{background-position:-672px -1728px}
.art.porygon-z{background-position:-768px -1728px}
.art.gallade-mega{background-position:-864px -1728px}
.art.gallade{background-position:-960px -1728px}
.art.probopass{background-position:-1056px -1728px}
.art.dusknoir{background-position:-1152px -1728px}
.art.froslass{background-position:-1248px -1728px}
.art.rotom-fan{background-position:-1344px -1728px}
.art.rotom-frost{background-position:-1440px -1728px}
.art.rotom-heat{background-position:-1536px -1728px}
.art.rotom-mow{background-position:-1632px -1728px}
.art.rotom-wash{background-position:-1728px -1728px}
.art.rotom{background-position:-1824px -1728px}
.art.uxie{background-position:-1920px -1728px}
.art.mesprit{background-position:-2016px -1728px}
.art.azelf{background-position:-2112px -1728px}
.art.dialga{background-position:-2208px -1728px}
.art.palkia{background-position:-2304px -1728px}
.art.heatran{background-position:-2400px -1728px}
.art.regigigas{background-position:-2496px -1728px}
.art.giratina-origin{background-position:-2592px -1728px}
.art.giratina{background-position:-2688px -1728px}
.art.cresselia{background-position:-2784px -1728px}
.art.phione{background-position:0 -1824px}
.art.manaphy{background-position:-96px -1824px}
.art.darkrai{background-position:-192px -1824px}
.art.shaymin-sky{background-position:-288px -1824px}
.art.shaymin{background-position:-384px -1824px}
.art.arceus{background-position:-480px -1824px}
.art.victini{background-position:-576px -1824px}
.art.snivy{background-position:-672px -1824px}
.art.servine{background-position:-768px -1824px}
.art.serperior{background-position:-864px -1824px}
.art.tepig{background-position:-960px -1824px}
.art.pignite{background-position:-1056px -1824px}
.art.emboar{background-position:-1152px -1824px}
.art.oshawott{background-position:-1248px -1824px}
.art.dewott{background-position:-1344px -1824px}
.art.samurott{background-position:-1440px -1824px}
.art.patrat{background-position:-1536px -1824px}
.art.watchog{background-position:-1632px -1824px}
.art.lillipup{background-position:-1728px -1824px}
.art.herdier{background-position:-1824px -1824px}
.art.stoutland{background-position:-1920px -1824px}
.art.purrloin{background-position:-2016px -1824px}
.art.liepard{background-position:-2112px -1824px}
.art.pansage{background-position:-2208px -1824px}
.art.simisage{background-position:-2304px -1824px}
.art.pansear{background-position:-2400px -1824px}
.art.simisear{background-position:-2496px -1824px}
.art.panpour{background-position:-2592px -1824px}
.art.simipour{background-position:-2688px -1824px}
.art.munna{background-position:-2784px -1824px}
.art.musharna{background-position:0 -1920px}
.art.pidove{background-position:-96px -1920px}
.art.tranquill{background-position:-192px -1920px}
.art.unfezant-male{background-position:-288px -1920px}
.art.unfezant{background-position:-384px -1920px}
.art.blitzle{background-position:-480px -1920px}
.art.zebstrika{background-position:-576px -1920px}
.art.roggenrola{background-position:-672px -1920px}
.art.boldore{background-position:-768px -1920px}
.art.gigalith{background-position:-864px -1920px}
.art.woobat{background-position:-960px -1920px}
.art.swoobat{background-position:-1056px -1920px}
.art.drilbur{background-position:-1152px -1920px}
.art.excadrill{background-position:-1248px -1920px}
.art.audino-mega{background-position:-1344px -1920px}
.art.audino{background-position:-1440px -1920px}
.art.timburr{background-position:-1536px -1920px}
.art.gurdurr{background-position:-1632px -1920px}
.art.conkeldurr{background-position:-1728px -1920px}
.art.tympole{background-position:-1824px -1920px}
.art.palpitoad{background-position:-1920px -1920px}
.art.seismitoad{background-position:-2016px -1920px}
.art.throh{background-position:-2112px -1920px}
.art.sawk{background-position:-2208px -1920px}
.art.sewaddle{background-position:-2304px -1920px}
.art.swadloon{background-position:-2400px -1920px}
.art.leavanny{background-position:-2496px -1920px}
.art.venipede{background-position:-2592px -1920px}
.art.whirlipede{background-position:-2688px -1920px}
.art.scolipede{background-position:-2784px -1920px}
.art.cottonee{background-position:0 -2016px}
.art.whimsicott{background-position:-96px -2016px}
.art.petilil{background-position:-192px -2016px}
.art.lilligant{background-position:-288px -2016px}
.art.basculin-blue-striped{background-position:-384px -2016px}
.art.basculin{background-position:-480px -2016px}
.art.sandile{background-position:-576px -2016px}
.art.krokorok{background-position:-672px -2016px}
.art.krookodile{background-position:-768px -2016px}
.art.darumaka{background-position:-864px -2016px}
.art.darmanitan{background-position:-960px -2016px}
.art.maractus{background-position:-1056px -2016px}
.art.dwebble{background-position:-1152px -2016px}
.art.crustle{background-position:-1248px -2016px}
.art.scraggy{background-position:-1344px -2016px}
.art.scrafty{background-position:-1440px -2016px}
.art.sigilyph{background-position:-1536px -2016px}
.art.yamask{background-position:-1632px -2016px}
.art.cofagrigus{background-position:-1728px -2016px}
.art.tirtouga{background-position:-1824px -2016px}
.art.carracosta{background-position:-1920px -2016px}
.art.archen{background-position:-2016px -2016px}
.art.archeops{background-position:-2112px -2016px}
.art.trubbish{background-position:-2208px -2016px}
.art.garbodor{background-position:-2304px -2016px}
.art.zorua{background-position:-2400px -2016px}
.art.zoroark{background-position:-2496px -2016px}
.art.minccino{background-position:-2592px -2016px}
.art.cinccino{background-position:-2688px -2016px}
.art.gothita{background-position:-2784px -2016px}
.art.gothorita{background-position:0 -2112px}
.art.gothitelle{background-position:-96px -2112px}
.art.solosis{background-position:-192px -2112px}
.art.duosion{background-position:-288px -2112px}
.art.reuniclus{background-position:-384px -2112px}
.art.ducklett{background-position:-480px -2112px}
.art.swanna{background-position:-576px -2112px}
.art.vanillite{background-position:-672px -2112px}
.art.vanillish{background-position:-768px -2112px}
.art.vanilluxe{background-position:-864px -2112px}
.art.deerling-autumn{background-position:-960px -2112px}
.art.deerling-summer{background-position:-1056px -2112px}
.art.deerling-winter{background-position:-1152px -2112px}
.art.deerling{background-position:-1248px -2112px}
.art.sawsbuck-autumn{background-position:-1344px -2112px}
.art.sawsbuck-summer{background-position:-1440px -2112px}
.art.sawsbuck-winter{background-position:-1536px -2112px}
.art.sawsbuck{background-position:-1632px -2112px}
.art.emolga{background-position:-1728px -2112px}
.art.karrablast{background-position:-1824px -2112px}
.art.escavalier{background-position:-1920px -2112px}
.art.foongus{background-position:-2016px -2112px}
.art.amoonguss{background-position:-2112px -2112px}
.art.frillish-male{background-position:-2208px -2112px}
.art.frillish{background-position:-2304px -2112px}
.art.jellicent-male{background-position:-2400px -2112px}
.art.jellicent{background-position:-2496px -2112px}
.art.alomomola{background-position:-2592px -2112px}
.art.joltik{background-position:-2688px -2112px}
.art.galvantula{background-position:-2784px -2112px}
.art.ferroseed{background-position:0 -2208px}
.art.ferrothorn{background-position:-96px -2208px}
.art.klink{background-position:-192px -2208px}
.art.klang{background-position:-288px -2208px}
.art.klinklang{background-position:-384px -2208px}
.art.tynamo{background-position:-480px -2208px}
.art.eelektrik{background-position:-576px -2208px}
.art.eelektross{background-position:-672px -2208px}
.art.elgyem{background-position:-768px -2208px}
.art.beheeyem{background-position:-864px -2208px}
.art.litwick{background-position:-960px -2208px}
.art.lampent{background-position:-1056px -2208px}
.art.chandelure{background-position:-1152px -2208px}
.art.axew{background-position:-1248px -2208px}
.art.fraxure{background-position:-1344px -2208px}
.art.haxorus{background-position:-1440px -2208px}
.art.cubchoo{background-position:-1536px -2208px}
.art.beartic{background-position:-1632px -2208px}
.art.cryogonal{background-position:-1728px -2208px}
.art.shelmet{background-position:-1824px -2208px}
.art.accelgor{background-position:-1920px -2208px}
.art.stunfisk{background-position:-2016px -2208px}
.art.mienfoo{background-position:-2112px -2208px}
.art.mienshao{background-position:-2208px -2208px}
.art.druddigon{background-position:-2304px -2208px}
.art.golett{background-position:-2400px -2208px}
.art.golurk{background-position:-2496px -2208px}
.art.pawniard{background-position:-2592px -2208px}
.art.bisharp{background-position:-2688px -2208px}
.art.bouffalant{background-position:-2784px -2208px}
.art.rufflet{background-position:0 -2304px}
.art.braviary{background-position:-96px -2304px}
.art.vullaby{background-position:-192px -2304px}
.art.mandibuzz{background-position:-288px -2304px}
.art.heatmor{background-position:-384px -2304px}
.art.durant{background-position:-480px -2304px}
.art.deino{background-position:-576px -2304px}
.art.zweilous{background-position:-672px -2304px}
.art.hydreigon{background-position:-768px -2304px}
.art.larvesta{background-position:-864px -2304px}
.art.volcarona{background-position:-960px -2304px}
.art.cobalion{background-position:-1056px -2304px}
.art.terrakion{background-position:-1152px -2304px}
.art.virizion{background-position:-1248px -2304px}
.art.tornadus-therian{background-position:-1344px -2304px}
.art.tornadus{background-position:-1440px -2304px}
.art.thundurus-therian{background-position:-1536px -2304px}
.art.thundurus{background-position:-1632px -2304px}
.art.reshiram{background-position:-1728px -2304px}
.art.zekrom{background-position:-1824px -2304px}
.art.landorus-therian{background-position:-1920px -2304px}
.art.landorus{background-position:-2016px -2304px}
.art.kyurem-black{background-position:-2112px -2304px}
.art.kyurem-white{background-position:-2208px -2304px}
.art.kyurem{background-position:-2304px -2304px}
.art.keldeo:hover,
.art.keldeo-resolute{background-position:-2400px -2304px}
.art.keldeo{background-position:-2496px -2304px}
.art.meloetta:hover,
.art.meloetta-pirouette{background-position:-2592px -2304px}
.art.meloetta{background-position:-2688px -2304px}
.art.genesect{background-position:-2784px -2304px}
.art.chespin{background-position:0 -2400px}
.art.quilladin{background-position:-96px -2400px}
.art.chesnaught{background-position:-192px -2400px}
.art.fennekin{background-position:-288px -2400px}
.art.braixen{background-position:-384px -2400px}
.art.delphox{background-position:-480px -2400px}
.art.froakie{background-position:-576px -2400px}
.art.frogadier{background-position:-672px -2400px}
.art.greninja-ash{background-position:-768px -2400px}
.art.greninja{background-position:-864px -2400px}
.art.bunnelby{background-position:-960px -2400px}
.art.diggersby{background-position:-1056px -2400px}
.art.fletchling{background-position:-1152px -2400px}
.art.fletchinder{background-position:-1248px -2400px}
.art.talonflame{background-position:-1344px -2400px}
.art.scatterbug{background-position:-1440px -2400px}
.art.spewpa{background-position:-1536px -2400px}
.art.vivillon{background-position:-1632px -2400px}
.art.litleo{background-position:-1728px -2400px}
.art.pyroar-male{background-position:-1824px -2400px}
.art.pyroar{background-position:-1920px -2400px}
.art.flabebe{background-position:-2016px -2400px}
.art.floette{background-position:-2112px -2400px}
.art.florges{background-position:-2208px -2400px}
.art.skiddo{background-position:-2304px -2400px}
.art.gogoat{background-position:-2400px -2400px}
.art.pancham{background-position:-2496px -2400px}
.art.pangoro{background-position:-2592px -2400px}
.art.furfrou{background-position:-2688px -2400px}
.art.espurr{background-position:-2784px -2400px}
.art.meowstic-male{background-position:0 -2496px}
.art.meowstic{background-position:-96px -2496px}
.art.honedge{background-position:-192px -2496px}
.art.doublade{background-position:-288px -2496px}
.art.aegislash:hover,
.art.aegislash-blade{background-position:-384px -2496px}
.art.aegislash{background-position:-480px -2496px}
.art.spritzee{background-position:-576px -2496px}
.art.aromatisse{background-position:-672px -2496px}
.art.swirlix{background-position:-768px -2496px}
.art.slurpuff{background-position:-864px -2496px}
.art.inkay{background-position:-960px -2496px}
.art.malamar{background-position:-1056px -2496px}
.art.binacle{background-position:-1152px -2496px}
.art.barbaracle{background-position:-1248px -2496px}
.art.skrelp{background-position:-1344px -2496px}
.art.dragalge{background-position:-1440px -2496px}
.art.clauncher{background-position:-1536px -2496px}
.art.clawitzer{background-position:-1632px -2496px}
.art.helioptile{background-position:-1728px -2496px}
.art.heliolisk{background-position:-1824px -2496px}
.art.tyrunt{background-position:-1920px -2496px}
.art.tyrantrum{background-position:-2016px -2496px}
.art.amaura{background-position:-2112px -2496px}
.art.aurorus{background-position:-2208px -2496px}
.art.sylveon{background-position:-2304px -2496px}
.art.hawlucha{background-position:-2400px -2496px}
.art.dedenne{background-position:-2496px -2496px}
.art.carbink{background-position:-2592px -2496px}
.art.goomy{background-position:-2688px -2496px}
.art.sliggoo{background-position:-2784px -2496px}
.art.goodra{background-position:0 -2592px}
.art.klefki{background-position:-96px -2592px}
.art.phantump{background-position:-192px -2592px}
.art.trevenant{background-position:-288px -2592px}
.art.pumpkaboo{background-position:-384px -2592px}
.art.gourgeist{background-position:-480px -2592px}
.art.bergmite{background-position:-576px -2592px}
.art.avalugg{background-position:-672px -2592px}
.art.noibat{background-position:-768px -2592px}
.art.noivern{background-position:-864px -2592px}
.art.xerneas{background-position:-960px -2592px}
.art.yveltal{background-position:-1056px -2592px}
.art.zygarde-10{background-position:-1152px -2592px}
.art.zygarde-10:hover,.art.zygarde:hover,
.art.zygarde-complete{background-position:-1248px -2592px}
.art.zygarde{background-position:-1344px -2592px}
.art.diancie-mega{background-position:-1440px -2592px}
.art.diancie{background-position:-1536px -2592px}
.art.hoopa-unbound{background-position:-1632px -2592px}
.art.hoopa{background-position:-1728px -2592px}
.art.volcanion{background-position:-1824px -2592px}
.art.rowlet{background-position:-1920px -2592px}
.art.dartrix{background-position:-2016px -2592px}
.art.decidueye{background-position:-2112px -2592px}
.art.litten{background-position:-2208px -2592px}
.art.torracat{background-position:-2304px -2592px}
.art.incineroar{background-position:-2400px -2592px}
.art.popplio{background-position:-2496px -2592px}
.art.brionne{background-position:-2592px -2592px}
.art.primarina{background-position:-2688px -2592px}
.art.pikipek{background-position:-2784px -2592px}
.art.trumbeak{background-position:0 -2688px}
.art.toucannon{background-position:-96px -2688px}
.art.yungoos{background-position:-192px -2688px}
.art.gumshoos{background-position:-288px -2688px}
.art.grubbin{background-position:-384px -2688px}
.art.charjabug{background-position:-480px -2688px}
.art.vikavolt{background-position:-576px -2688px}
.art.crabrawler{background-position:-672px -2688px}
.art.crabominable{background-position:-768px -2688px}
.art.oricorio-baile{background-position:-864px -2688px}
.art.oricorio-pa-u{background-position:-960px -2688px}
.art.oricorio-sensu{background-position:-1056px -2688px}
.art.oricorio{background-position:-1152px -2688px}
.art.cutiefly{background-position:-1248px -2688px}
.art.ribombee{background-position:-1344px -2688px}
.art.rockruff{background-position:-1440px -2688px}
.art.lycanroc-midnight{background-position:-1536px -2688px}
.art.lycanroc{background-position:-1632px -2688px}
.art.wishiwashi-school{background-position:-1728px -2688px}
.art.wishiwashi:hover,
.art.wishiwashi{background-position:-1824px -2688px}
.art.mareanie{background-position:-1920px -2688px}
.art.toxapex{background-position:-2016px -2688px}
.art.mudbray{background-position:-2112px -2688px}
.art.mudsdale{background-position:-2208px -2688px}
.art.dewpider{background-position:-2304px -2688px}
.art.araquanid{background-position:-2400px -2688px}
.art.fomantis{background-position:-2496px -2688px}
.art.lurantis{background-position:-2592px -2688px}
.art.morelull{background-position:-2688px -2688px}
.art.shiinotic{background-position:-2784px -2688px}
.art.salandit{background-position:0 -2784px}
.art.salazzle{background-position:-96px -2784px}
.art.stufful{background-position:-192px -2784px}
.art.bewear{background-position:-288px -2784px}
.art.bounsweet{background-position:-384px -2784px}
.art.steenee{background-position:-480px -2784px}
.art.tsareena{background-position:-576px -2784px}
.art.comfey{background-position:-672px -2784px}
.art.oranguru{background-position:-768px -2784px}
.art.passimian{background-position:-864px -2784px}
.art.wimpod{background-position:-960px -2784px}
.art.golisopod{background-position:-1056px -2784px}
.art.sandygast{background-position:-1152px -2784px}
.art.palossand{background-position:-1248px -2784px}
.art.pyukumuku{background-position:-1344px -2784px}
.art.type-null{background-position:-1440px -2784px}
.art.silvally{background-position:-1536px -2784px}
.art.minior-core{background-position:-1632px -2784px}
.art.minior:hover,
.art.minior{background-position:-1728px -2784px}
.art.komala{background-position:-1824px -2784px}
.art.turtonator{background-position:-1920px -2784px}
.art.togedemaru{background-position:-2016px -2784px}
.art.mimikyu{background-position:-2112px -2784px}
.art.bruxish{background-position:-2208px -2784px}
.art.drampa{background-position:-2304px -2784px}
.art.dhelmise{background-position:-2400px -2784px}
.art.jangmo-o{background-position:-2496px -2784px}
.art.hakamo-o{background-position:-2592px -2784px}
.art.kommo-o{background-position:-2688px -2784px}
.art.tapu-koko{background-position:-2784px -2784px}
.art.tapu-lele{background-position:0 -2880px}
.art.tapu-bulu{background-position:-96px -2880px}
.art.tapu-fini{background-position:-192px -2880px}
.art.cosmog{background-position:-288px -2880px}
.art.cosmoem{background-position:-384px -2880px}
.art.solgaleo{background-position:-480px -2880px}
.art.lunala{background-position:-576px -2880px}
.art.nihilego{background-position:-672px -2880px}
.art.buzzwole{background-position:-768px -2880px}
.art.pheromosa{background-position:-864px -2880px}
.art.xurkitree{background-position:-960px -2880px}
.art.celesteela{background-position:-1056px -2880px}
.art.kartana{background-position:-1152px -2880px}
.art.guzzlord{background-position:-1248px -2880px}
.art.necrozma{background-position:-1344px -2880px}
.art.magearna{background-position:-1440px -2880px}
.art.marshadow{background-position:-1536px -2880px}
